<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - NOV26.Portfolio.web</title>
    <partial name="_Css"/>
</head>
<body>
<partial name="_Nav"/>

        @RenderBody()

        <partial name="_Footer"/>
        <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
<partial name="_Js"/>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>